body {
    font-family: miranafont,"Hiragino Sans GB",STXihei,"Microsoft YaHei",SimSun,sans-serif;
    margin: auto;
    margin-top: 3px
     }

.main {
    width: 350px;
    border-bottom: 2px dashed #3F51B5;
    border-top: 2px dashed #FFEB3B;
    border-left: 2px dashed #00BCD4;
    border-right: 2px dashed #F44336;
    margin: auto
}

h1 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 28px
}

p {
    text-align: center;
    margin-bottom: 10px
}

input[type=range] {
    width: 200px;
    height: 3px;
    margin-top: 8px;
    outline: none;
    -webkit-appearance: none;
    background: no-repeat, #ddd;
    background-size: 30% 100%

}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height:16px;
    width: 16px;
    background: #fff;
    border-radius: 50%;
    border: solid 1px #ddd
}

input[type=range]:disabled {
    background: no-repeat, #ccc
}

input[type=range]:disabled::-webkit-slider-thumb {
    border: solid 1px #ccc;
    background: #eee
}

.func_button button {
    margin-top: 10px;
    margin-bottom: 15px;
    height: 60px;
    border: 1px solid #4CAF50;
    background: #FFFFFF;
    color: #6F6F6F;
    font-family: microsoft yahei;
    border-radius: 3px;
    cursor: pointer
}

.func_button {
    text-align: center
}

button:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    transition: background-color 0.3s ease-in-out
}

.foo-logo {
    width: 30px;
    height: 30px;
    opacity: .3;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(/img/f-logo.png);
    animation: poi-deg 12s infinite linear;
    -webkit-animation: poi-deg 12s infinite linear
}
        
.foo-text {
    text-align: center;
    font-size: 12px;
    color: #B9B9B9;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1)
}
        
/*360度旋转*/
@keyframes poi-deg {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes poi-deg {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}